<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity6">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Management - show employee</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.css" />

<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/menu.js}"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="icon" href="img/favicon.png" />
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-primary bg-light">
		<a class="navbar-brand" th:href="@{../}">Coffee shop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link"
					th:href="@{../}">Home <span class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{../menu}">Menu <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{../services}">Services <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{../contact}">Contact <span class="sr-only">(current)</span></a>
				</li>
			</ul>
			<div class="text-center">
				Welcome 
			</div>
			<form th:action="@{/logout}" method="post">
		    	<input type="submit" class="btn btn-outline-danger" value="Logout">
		    </form>
		</div>
	</nav>

	<div class="container mt-5">
		<h1 class="text-center">List Employee</h1>
		<a th:href="@{add-employee}" class="btn btn-primary mb-2">Add
			Employee</a> <br />
		<hr />
		<table class="table table-bordered table-striped" id="employee-table">
			<thead>
				<tr>
					<th>Id</th>
					<th>First name</th>
					<th>Last name</th>
					<th>Age</th>
					<th>Email</th>
					<th>Address</th>
					<th>Job</th>
					<th sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="employee : ${employees}">
					<td>
						<p th:text="${employee.id}"></p>
					</td>
					<td>
						<p th:text="${employee.firstname}"></p>
					</td>
					<td>
						<p th:text="${employee.lastname}"></p>
					</td>
					<td>
						<p th:text="${employee.age}"></p>
					</td>
					<td>
						<p th:text="${employee.email}"></p>
					</td>
					<td>
						<p th:text="${employee.address}"></p>
					</td>
					<td>
						<p th:text="${employee.position}"></p>
					</td>
					<td sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')"><a
						th:href="@{/employee/view-employee/} + ${employee.id}"
						class="btn btn-info">View</a> <a
						th:href="@{/employee/update-employee/} + ${employee.id}"
						class="btn btn-warning">Edit</a> <a sec:authorize="hasAnyAuthority('ADMIN')" 
						th:href="@{/employee/employeeDelete/} + ${employee.id}"
						class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/v/bs4/dt-1.13.1/datatables.min.js"></script>
	<script>
		$(document).ready(function() {
			$("#employee-table").DataTable({
				'aoColumnDefs' : [ {
					'bSortable' : false,
					'aTarget' : []
				} ]
			});

		})
	</script>
</body>

</html>